@charset "UTF-8";
@import url("../style/terminal.css");
@import url("../style/layout.css");

:root {
	--text: goldenrod;
	--bg: rgb(31, 18, 10);
	--special: gold;
	--base-size: 16pt;
	--text-glow: inherit;
	--heart: var(--text);
	--leaves: var(--special);
	--heart_bg: var(--bg);
}

/* .initial-capital::first-letter{
	font-family: KJV1611Regular;
} */
@supports (initial-letter: 2){
	.initial-capital::first-letter {
		-webkit-initial-letter: 2;
		initial-letter: 2;
	}
}
@supports not (initial-letter: 2){
	.initial-capital::first-letter {
		font-size: 2.5em;
		float: left;
	}
}