{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
		<link rel="stylesheet" href="{% static 'lyingbard/style.css' %}">
    </head>
    <body style="overflow: hidden;text-align: center;align-items: center;">
        <br><a href="{% url 'index' %}">Back to main page</a>
        <div class="center-in-page" style="max-width: 100%">
            <audio controls id="audio-player" autoplay>
                <source type="audio/x-wav;codec=pcm">
                Your browser does not support the audio element.
            </audio><br><br>
            <form action="" id="tts-form">
                <textarea name="text" cols="60" rows="10" autocomplete="off" autocorrect="off" style="max-width: 100%;">This is LyingBard. An 🆗 T T S based off of LyreBird. It's not quite there yet, but it's close :clap:.</textarea><br><br>
                <div style="display: flex;align-items: center;width:fit-content;margin:auto">
                    <div style="display: inline-block;">
                        <p style="margin: 0; font-size: small;">Speaker</p>
                        <select name="speaker" style="margin: 0;padding: 0;">
                        {% for speaker in speakers %}
                            <option value="{{ speaker.id }}" {% if speaker.name == "Grove" %}selected{% endif %}>{{ speaker.name }}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <div style="width:20px"></div>
                    <div style="margin:auto; width: fit-content;position: relative;display: inline;">
                        <button id="speak-button">Speak</button>
                        <div id="generating-throbber" class="ellipsis-throbber" style="position:absolute;left:0;right:0;top:0;bottom:0;margin:auto;visibility: hidden;"></div>
                    </div>
                </div>
            </form>
        </div>
        <div class="center-at-bottom">
            <p>
                Site preview<br>
                Don't do anything stupid, okay?
            </p>
        </div>
        <script src="{% static 'lyingbard/scripts/generate.js' %}"></script>
    </body>
</html>