{% load heads %}
{% load static %}
{% load tz %}
{% load humanize %}
<!DOCTYPE html>
<html>
    <head>
        {% block head %}{% simple_head "LyingBard" "A TTS based off of LyreBird." "lyingbard/style.css" %}{% endblock %}
        <style>
            html {
                overflow: auto;
            }
            .generation {
                border:4px solid goldenrod;
                display:flex;
                flex-direction:column;
                box-sizing:border-box;
                padding:12px;
            }
        </style>
    </head>
    <body style="text-align: left; margin:0; width:100vw; height:100vh; overflow:auto; scrollbar-gutter: stable;">
        {% localtime on %}
        {% for generation in generations %}
        <div class="generation">
            <div style="vertical-align:middle; display:flex; flex-direction:row;">
                <div style="margin:auto 0; flex:1;">
                    <small>
                        {{ generation.gen_date|naturaltime }}
                    </small>
                </div>
                <div style="margin:auto 0;">
                    <small>
                        <a href="{% url 'lyingbard:generation_audio' generation.id %}" download>Download</a>
                        <form method="POST" action="" style="display:inline;">
                            {% csrf_token %}
                            <input name="id" type="hidden" value="{{ generation.url_id }}">
                            <a onclick="" style="cursor:pointer;">Delete</a>
                        </form>
                    </small>
                </div>
            </div>
            <div style="vertical-align:middle; display:flex; flex-direction:row;">
                <div style="margin:auto 0; flex:1;">
                    <b>{{ generation.speaker.name }}:</b>
                </div>
                <div style="margin:auto 0; max-width:50%;">
                    <audio src="{% url 'lyingbard:generations' %}{{generation.url_id}}/audio" controls="" preload="none" style="float:right; width:100%">
                        <source type="audio/flac">
                    </audio>
                </div>
            </div>
            <div>
                {{ generation.text }}
            </div>
        </div>
        {% endfor %}
        {% endlocaltime %}
    </body>
    <script>
        document.querySelectorAll(".generation").forEach(generation => {
            form = generation.querySelector(':scope form');
            form.addEventListener("click", deleteGeneration.bind(form))
        })
        function deleteGeneration() {
            formData = new FormData(this);
            fetch(
                "{% url 'lyingbard:generation_delete'  %}", {method:'POST',body:formData}
            ).then(
                _ => {window.location.reload()}
            );
            return false;
        }
    </script>
</html>