{% extends 'centered_box.html' %}
{% load heads %}

{% block head %}
    {% simple_head "Submitted LyingBard Speaker" "Submitted a custom speaker to be created for LyingBard." "lyingbard/style.css" %}
    <meta http-equiv="refresh" content="60">
{% endblock %}

{% block content %}
<h2>Custom Speaker Submitted</h2>
<p>
    Please be patient. This process could take over half an hour to complete.
    If there's a queue, it will take longer.
</p>
<p>
    This page will periodically refresh to check if this process is complete.
</p>
<p>
    You do not need to keep this page open.
</p>
<p>
    LyingBard currently runs on CPUs so it takes significantly longer than 
    LyreBird did. Once there's enough donations and revenue I can switch over
    to GPUs.
</p>
{% endblock %}